doctype html
html(lang='en-us')
  head
    meta(charset='utf-8')
    style.
      form {
      transition: 600ms ease all;
      font-family: "Crete Round", sans-serif;
      font-weight: 400;
      color: #000000;
      /* Centrar el formulario en la página */
      margin: 0 auto;
      width: 400px;
      /* Esquema del formulario */
      padding: 2em;
      border: 10px solid rgb(10, 184, 214);
      border-radius: 1em;
      background: linear-gradient(to right, rgb(10, 184, 214), rgba(243, 51, 3, 0));
      }
      body {
      display: block;
      margin: 150px;
      background-image: url(https://img.lovepik.com/background/20211022/large/lovepik-summer-gradient-background-image_401765887.jpg);
      background-size: 100%;
      }
      ul {
      list-style: none;
      padding: 0;
      margin: 0;
      }
      form li + li {
      margin-top: 1em;
      }
      label {
      /* Tamaño y alineación uniforme */
      display: inline-block;
      width: 75px;
      text-align: right;
      }
      input,
      textarea {
      font: 1em sans-serif;
      /* Tamaño de texto */
      width: 270px;
      box-sizing: border-box;
      border: 1px solid #0b07e4;
      }
      input:focus,
      textarea:focus {
      /* Destacado adicional para elementos que tienen el cursor */
      border-color: #1406db;
      }
      textarea {
      /* Alinear texto */
      vertical-align: top;
      height: 5em;
      }
      /*botón*/
      .button {
      padding-left: 86px;
      }
      button {
      margin-left: .5rem;
      background-color: rgb(102, 216, 245);
      border-radius: 1em;
      }
    title Fomulario
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css' integrity='sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==' crossorigin='anonymous' referrerpolicy='no-referrer')
    script(src='https://www.google.com/recaptcha/api.js' async='' defer='')
    
    script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-5X1FCN2TGR')
    script.
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());
     gtag('config', 'G-5X1FCN2TGR');
    
  body
    form(action='/' method='post')
      ul
        li
          i.fa-solid.fa-user
          label(for='name') Nombre:
          input#name(type='text' name='name')
        li
          i.fa-solid.fa-envelope
          label(for='mail') E-mail:
          input#email(type='email' name='email')
        li
          i.fa-solid.fa-square-envelope
          label(for='comment') Mensaje:
          textarea#comment(name='comment')
          
        .g-recaptcha(data-sitekey='6LdBamAmAAAAAL5O0LZ6Ra2XqQWG_Z21fipfPuol')
        
        li.button
          button(type='submit')
            | Enviar mensaje 
            i.fa-solid.fa-check
