doctype html
html
  head
    title
    link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
   link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css' integrity='sha512-pc29H9tQv0tzlGKetUgY2sD6VfZqK1pZmZoqT7acQj7pVhCz8R9DxHfj+BzB9KEn8t3+tX2Fm7X8yfZi5LYRJQ==' crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.min.js' integrity='sha512-EN+U5nqL5C0pTb3g6gJaO8OeyR1C6x0tL7NtYVJrB5K3YxJg4nD9J+oZv8mY/4Vc2jzgQlBubcGwDx5jWJoj3w==' crossorigin='anonymous')

  body
    .resume-box
      .left-section
        .profile
          img.profile-img(src='images/profile2.png')
          .blue-box
        h2.name
          | Armando
          br
          span Delgado
          .contact-btn
            a(href='https://formulario-1pno.onrender.com')
               button.contact-btn contact
          .language-selector
          .dropdown-center
              button.btn.btn-secondary.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
               Centered change language

               ul.dropdown-menu
                li
                  a.dropdown-item(href='/') Spanish
                   a.language-link.active(href='/' data-lang='es') ES
                li
                  a.dropdown-item(href='ingles') English
                   a.language-link(href='ingles' data-lang='en') EN
 
  

        .info
          p.heading Info 
          p.p1
            span.span1
              img(src='images/location.png')
            | Direction
            span
              br
              | Av- Bolivar
              | 						SJM
          p.p1
            span.span1
              img(src='images/call.png')
            | Phone number
            span
              br
              | +58
              | 						4243135915
          p.p1
            span.span1
              img(src='images/mail.png')
            | Gmail
            span
              br
              | armando.delgado.
          p.p1
            span.span1
              img(src='images/domain.png')
            | Website
            span
              br
              | www.'ajds.com
        .info
          p.heading Social
          p.p1
            span.span1
              img(src='images/youtube.png')
            | Youtube
            span
              br
              | Armando
              | 						ajds'
          p.p1
            span.span1
              img(src='images/twitter.png')
            | Twitter
            span
              br
              | ajds'twitter.com
          p.p1
            span.span1
              img(src='images/linkedin.png')
            | Linkdin
            span
              br
              | linkdin'ajds.com
          p.p1
            span.span1
              img(src='images/facebook.png')
            | Facebook
            span
              br
              | facebookArmando.com
      .right-section
        .right-heading
          img(src='images/user.png')
          p.p2 Profile
        p.p3
          | Armando Delgado, 22 years old, current computer engineering student at UNERG,
          | Athlete, selection of Guarico in Greco-Roman Olympic style wrestling, with Work Experience in
          | Different areas.
        .clearfix
        br
        br
        .right-heading
          img(src='images/pencil.png')
          p.p2 work experience
        .clearfix
        .lr-box
          .left
            p.p4 2018 - 2019
            p.p5 Barranquilla
          .right
            p.p4 Waitress's helper
            p.p5 4 star restaurant
            p.p5
              | During my journey through Colombia-Barranquilla Working at Kilimandiaro Restaurant
          .clearfix
        .lr-box
          .left
            p.p4 2019 - 2021
            p.p5 Barranquilla
          .right
            p.p4 Waiter
            p.p5 4 star restaurant
            p.p5
              | After being an assistant I start as a Innkeeper in 2019 until 2021, I return to Venezuela.
          .clearfix
        .lr-box
          .left
            p.p4 2021 - Currently
            p.p5 Venezuela
          .right
            p.p4 Gardener
            p.p5 Independent
            p.p5 Currently working in spare time.
          .clearfix
        br
        .right-heading
          img(src='images/edu.png')
          p.p2 Educaction
        .clearfix
        .lr-box
          .left
            p.p4 2013 - 2018
            p.p5 Guarico
          .right
            p.p4 UEN - Cabrera Malo.
            p.p5 high school
            p.p5 After primary school at Vicente Peña, I studied at Rafael Cabrera Malo
          .clearfix
        .lr-box
          .left
            p.p4 2022 - Currently
            p.p5 Guarico
          .right
            p.p4 UNERG.
            p.p5 Romulo Gallegos University.
            p.p5
              | Currently studying third semester
            p.p4 Informatics Engineering
            p
          .clearfix
        br
        .right-heading
          img(src='images/edu.png')
          p.p2 Skill and Experience
        .clearfix
        .s-box
          p.p6 Python
          #progress
          p.p6 Javascript
          #progress1
        .s-box
          p.p6 HTML
          #progress2
          p.p6 CSS
          #progress3
        .clearfix
        br
        br
        .right-heading
          img(src='images/hobbies.png')
          p.p2 hobbies
        .clearfix
        img.h-img(src='images/bicycle.png')
        img.h-img(src='images/games.png')
        img.h-img(src='images/book.png')
        img.h-img(src='images/design.png')
        img.h-img(src='images/chess.png')
      .clearfix