doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Login
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    form.form-login(action='/login' method='POST')
      h2 Inicio de Sesion
      p
        input(type='email' name='username' placeholder='Ingrese su correo electronico')
      p
        input(type='password' name='password' placeholder='Ingrese su contraseña')
      button(type='submit' value='Enviar' name='send') Iniciar Sesion
      h4 --------------------
      h4
        a(href='/google') Entrar con Google
      h4
        a(href='/') Volver al formulario 
              h4
        a(href='https://armandodelgado.onrender.com/') Ir al Curriculum
